<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="stylesheets/style.css" rel="stylesheet" media="screen">

<style>
    .docBox {
        font-size:20px;
        text-align:center;
        display: none;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        border-style: solid;
        border-color: gray;
        width:30px ;
        height:30px;
        line-height:30px;
        background-color: lightblue;
    }
</style>